img {
    max-width: 100%;
    height: 50px;
    border-color: blue;
    border-width: 50px;
}

img {
    transition: transform 0.3s ease; /* transizione morbida */
}

img:hover {
    transform: scale(1.1); /* ingrandisce del 10% */
}

body {
    background-color: hsl(220, 74%, 62%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #e6f7ff !important;
}

nav  {
    
    border: 1px solid black;
    background-color: rgb(248, 246, 246);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; 
    border: 1px solid #ddd 
    
}

div {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(110, 108, 108, 0.1);
    border-radius: 20px;
    border: 1px solid #ddd
}

body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

div#Contatti {
    text-align: left;
    align-items: center;
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
} 



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

div table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #0bb596;
}

#divfilm {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#scrivimi {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
#scrivimi input, #scrivimi textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#scrivimi button {
    background-color: #0bb596;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#scrivimi button:hover {
    background-color: #099e82;
}